#contenedor{
    background-color: skyblue;
    width: 50%;
    height: 640px;
    margin: auto;
    border:solid black;
    border-width:thin;
    padding: 2.5% 10% 2.5% 2.5% ;
    margin-top: 5%;}


#Imagen{
    border:  thin solid red;
    background-image:url('./imagen/cane.jpg'); 
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain; 
    margin: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}





