div{
    background-color: skyblue;
    width: 30%;
    margin: auto;
    border:solid black;
    border-width:thin;
    opacity: 0.5;
    padding: 10%;
    box-sizing: border-box;
}


#Imagen{
    border:  thin solid red;
    background-image:url('./imagen/cane.jpg'); 
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain; 
}





