#contenedor{
    background-color: skyblue;
    width: 30%;
    margin: auto;
    border:solid black;
    border-width:thin;
    padding: 2.5% 7.5% 2.5% 2.5% ;
    margin-top: 5%;
    box-sizing: border-box;
}

#Imagen{
    background-color: white;
    border:  thin solid red;
    background-image:url('./imagen/cane.jpg'); 
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    margin: auto;
    height: 480px;
    overflow: auto;
    opacity: 0.5;
    border-top-left-radius: 50px;
    white-space: pre-line;
}





