#Contenedor{
    margin-right: 5%;
    margin-left: 5%;
    background-color: lightblue;
}

div.Botón{
    float: left;
    border: solid blue;
    border-width: thin;
    padding: 0.5%;
    background: rgb(190, 190, 190);
}

div.Botón:hover{
    background-color: blue;

}

div.Botón:active 
{
    background-color: yellow;
    
}

a{
    text-decoration: none;
    color: unset;
}

div.NuevaLinea{
    clear: both;
    margin-bottom: 20px;
}

#Apellido{
    display: block;
}

#Nombre{
    display: block;
    margin-bottom: 20px;
}

#Apellido:focus{
    background: violet;
}

#Nombre:focus{
    background: tomato;
}

.DivImagen{
    float: left;
    border: solid black;
    border-width: thin;
    width: 100px;
    height: 100px;
}

.Imagen{
    max-height: 100%;
    max-width: 100%; 
}

.DivImagen:active{

    height: 480px;
    width: 480px;

}




