* { 
    box-sizing: border-box;
    font-size: 14px;
    font-size:100%;
    padding: 0 3%;
    }

#Contenedor{
    background-color: cornflowerblue;
    padding: 0;
}

.Interno{
    border: solid black;
    border-width: thin;
    margin-bottom: 10%;
    height: 200px;
    padding: 0;
    box-sizing: border-box; 
    float:left;
    margin:10px;
    font-size:12px
}